.contain {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
}

.contain div {
    border: 3px solid gold;
    padding: 20px;
    margin: 10px;
    flex-basis: 350px; /* Adjust this value if you need the divs to be narrower or wider */
    flex-shrink: 1;
    flex-grow: 0;
    text-align: center;
    border-radius: 15px; /* This adds rounded corners to your divs */
}

.contain div:hover {
    background-color:beige;
}

.contain img {
    max-width: 300px; /* Reduced from 1000px to make images smaller */
    border-radius: 20px; /* This ensures that the images also have rounded corners */
}

h2 {
    color:gold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}