.contain {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
}

.contain div {
    border: 3px solid brown;
    padding: 10px;
    margin: 20px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
    text-align: center;
}

.contain div:hover {
    background-color:bisque;
}

.contain img {
    max-width: 200px;
}

h2 {
    color:brown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}