@charset "UTF-8";

html,
body {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 150px;
}


h1 {
    background-color:azure;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
}

h3 {
    color:dimgray;
}

.top {
    margin-top: 3rem;
    margin-bottom: 50px;
    padding: 20px;
    color: beige;
    font-size: 80px;
}

.contain {
    padding: 20px;
    color:dimgray;
    font-size: larger;
}

nav ul {
    list-style: none;
    float:right;
    text-align: center;
    display: inline-flex;
}

nav ul li {
    padding: 15px;
    margin: 10px 2px;
    font-weight: bold;
}

nav ul li a {
    color:black;
    font-family: serif;
    font-size: 40px;
}

nav ul li:hover {
    background-color:beige;
    overflow: hidden;
}

nav {
    background-color: aliceblue;
    background-image: url(../img/nav-picture.jpg);
    padding: 20px;
    height: 500px;
    background-size: inherit;
    flex: none;
    opacity: 0.9;
}

main, .map, footer {
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 20px;
}

main {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.map {
    background-color:beige;
    text-align: center;
}

footer {
    margin-bottom: 8px;
    border: 2px solid black;
    text-align: center;
}

.wrapper {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    width: 100%; /* Full width */
    align-items: center; /* Center-align child elements */
    max-width: 100%; /* Prevent the wrapper from extending beyond the viewport width */
}

#box1 {
    width: 600px;
    border: 4px solid gold;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.layout {
    background-color:beige;
    font-size: 30px;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#box2 {
    width: 600px;
}

#box1 fieldset {
    border: 2px solid gold;
    padding: 10px;
    margin: 10px;
}

#box2 img {
    transition-property: opacity;
    transition-duration: 2s;
    max-width: 800px;
    transition: all 1s;
    z-index: 1;
    position: relative;
}

#box2 img:hover {
    opacity: 1;
    box-shadow: 2px 2px 20px yellow;
    transform: translate(20px, 20px);
}

#customer {
    align-items: center;
    min-width: 120px;
}

#send {
    padding-bottom: 10px;
    font-size: larger;
    background-color:beige;
    float: inline-end;
}

#customer {
    display: flex;
}

#customer-wrapper-left {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

#customer-wrapper-right {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    gap: 8px;
    margin-left: 2px;
}

#text textarea {
    height: 5em;
    width: 100%;
}

@media screen and (max-width: 800px){
    nav {
        display: flex; /* This will align the logo and nav items in a row */
        justify-content: space-between; /* This will put space between logo and nav items */
        align-items: center; /* This will center them vertically */
        flex-wrap: wrap; /* This allows nav items to wrap to the next line if there is not enough space */
    }

     nav ul {
        flex: 1 1 auto; /* This allows the nav items to take up the remaining space */
        justify-content: flex-end; /* This aligns the nav items to the right */
        padding: 0;
        margin: 0;
        display: flex; /* Display as flex to keep in line */
        flex-direction: row; /* Align nav items in a row */
        flex-wrap: wrap; /* Allow the list items to wrap onto the next line */
    }

    nav ul li {
        padding: 10px; /* Provide spacing between nav items */
    }

   #box2 {
        width: 100%; /* Make box2 full width */
        max-width: 800px; /* Max width to prevent it from growing too large */
        margin: 0 auto; /* Center box2 */
    }

    #box2 img {
        max-width: 100%; /* Ensure the image is responsive */
        height: auto; /* Maintain aspect ratio */
    }

    .logo{
        width: 20%;
    }

    .top {
        font-size:small;
    }

    .wrapper, #box2, .map, footer {
        padding: 0; /* Remove padding on smaller screens if necessary */
    }
    /* Adjustments for all text sizes */
    h1, h2, h3, nav ul li a {
        font-size: smaller; /* Adjust font sizes appropriately */
    }

    /* Make sure all your inputs and text areas are also responsive */
    input[type="text"], textarea {
        width: 100%;
        box-sizing: border-box;
    }

    /* ... additional styles ... */
}
