@charset "UTF-8";

html,
body {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 200px;
}


h1 {
    background-color:azure;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
}

.top {
    margin-top: 4rem;
    margin-bottom: 10px;
    padding: 20px;
    color: beige;
    font-size: 90px;
}

.contain {
    padding: 20px;
    color:dimgray;
    font-size: larger;
}

nav ul {
    list-style: none;
    float:right;
    text-align: center;
    display: inline-flex;
}

nav ul li {
    padding: 10px;
    margin: 5px 10px;
}

nav ul li a {
    color:black;
    font-family: serif;
    font-size: 40px;
}

nav ul li:hover {
    background-color:antiquewhite;
    overflow: hidden;
}

nav {
    background-color: aliceblue;
    background-image: url(../img/nav-picture.jpg);
    padding: 20px;
    height: 500px;
    background-size: inherit;
    flex: none;
}

main, .map, footer {
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 20px;
}

main {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.map {
    background-color:beige;
    text-align: center;
}

footer {
    margin-bottom: 8px;
    border: 2px solid black;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

#box1 {
    width: 600px;
    border: 4px solid gold;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.layout {
    background-color:beige;
    font-size: 30px;
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#box2 {
    width: 800px;
}

#box1 fieldset {
    border: 2px solid gold;
    padding: 10px;
    margin: 10px;
}

#box2 img {
    transition-property: opacity;
    transition-duration: 2s;
    max-width: 800px;
    transition: all 1s;
    z-index: 1;
    position: relative;
}

#box2 img:hover {
    opacity: 1;
    box-shadow: 2px 2px 20px yellow;
    transform: translate(20px, 20px);
}

#customer {
    align-items: center;
    min-width: 120px;
}

#send {
    padding-bottom: 10px;
    font-size: larger;
    background-color:beige;
    float: inline-end;
}

#customer {
    display: flex;
}

#customer-wrapper-left {
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

#customer-wrapper-right {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    gap: 8px;
    margin-left: 2px;
}

#text textarea {
    height: 5em;
    width: 100%;
}

@media screen and (max-width: 800px){
    nav ul {
        display: contents;
    }

    .logo {
        width: 20%;
    }

}